@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
.custom-scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .custom-scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  /* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Allow scrolling without a visible scrollbar */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap; /* Prevent line breaks */
}
